.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*
.moveHorizontalRight {
  animation: moveImageRight 10s linear infinite;
}

.moveHorizontalLeft {
  animation: moveImageLeft 10s linear infinite;
}

@keyframes moveImageRight {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(100vw);
  }
}

@keyframes moveImageLeft {
  0% {
    transform: translateX(0vw);
  }
  100% {
    transform: translateX(-100vw);
  }
}*/

.painting {
  transition: .25s;
}

.painting:hover {
  cursor: pointer;
  opacity: .7;
}

@keyframes fadeout {
  0% {
    background: rgba(0, 0, 0, .75);
    opacity: 1;
  }
  100% {
    background: rgba(0, 0, 0, 0);
    opacity: .1;
    display: none;
    z-index: -1;
  }
}